<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/assets/stylesheets/application.css">
</head>
<body>

  <li><a href="/traumas">Traumas List</a></li>
  <li><a href="/posts">Channel</a></li>

  <img src=<%=image_path("first-aid-kit-for-your-home (2).jpg")%>  height="720" width="1280r" usemap="#Map" border="0" alt="Null" />

  <map name="Map" >

    <% @first_aid_items.each do |x| %>
      <area id="<%=x[:name]%>" shape="poly" coords="<%= x[:coords] %>" href="/first_aid/<%= x[:id] %>" alt="adhesive">
    <% end %>

  </map>

</body>
</html>
