<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title></title>
  <link rel="stylesheet" href="/assets/stylesheets/application.css">
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>
<body>

  <nav class="red darken-3" role="navigation">
    <ul class="right hide-on-med-and-down">
      <li><a href="/traumas">Traumas List</a></li>
      <li><a href="/posts">Channel</a></li>
    </ul>

      <ul id="nav-mobile" class="brand-logo center">
        <li><a href="/" class="home_logo">On Site</a></li>
      </ul>
      <a href="/signup" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <img src=<%=image_path("first-aid-kit-for-your-home (2).jpg")%>  height="720" width="1280r" usemap="#Map" border="0" alt="Null" />

  <map name="Map" >

    <% @first_aid_items.each do |x| %>
      <area id="<%=x[:name]%>" shape="poly" coords="<%= x[:coords] %>" href="/first_aid/<%= x[:id] %>" alt="adhesive">
    <% end %>

  </map>

</body>
</html>
